<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício 2</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Exercício 2:
    Crie uma instância Vue que exiba uma mensagem de boas-vindas apenas se o usuário estiver logado. Use a diretiva v-if para controlar a exibição da mensagem. -->
    <div id="app">
        <h1 v-if="usuario">
            Boas vindas {{ nome }}!
        </h1>
        <div v-else="!usuario">
            Faça o login para receber umas boas vindas!
        </div>
        <input type="text" v-model="nome" placeholder="Digite o seu nome...">
        <button @click="usuario = !usuario">Logout</button>
    </div>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                nome: '',
                usuario: false
            }
        })
        // no console altere os valores exemplo: app.nome = 'exemplo', app.usuario = true
        </script>    
</body>
</html>